# Dependências principais
Django>=5.2.4
psycopg2-binary
gunicorn
django-environ
whitenoise
python-dotenv

# Dependências adicionais para o projeto
Pillow
django-compressor

# Para otimização de arquivos estáticos
django-libsass

# Para desenvolvimento e debug
django-debug-toolbar

# Para segurança
django-cors-headers

# Para cache
redis
django-redis 